**/node_modules
npm*log
experimental/
venv/*
!build/
lastBuild/*
build/*
!build/optimized 
newBuild/*
bower_components/*
**/.sass-cache/*
**/sass-cache/*
*.tmp
**/.module-cache/
**/settings/common.py
**/settings/development.py
**/settings/stage.py
**/settings/production.py
*.swp
*.orig
*.local
*.pyc
*~
.checkmate/*
*#
.npmignore
**/.sass-cache
