{
  "plugins": [
    "@babel/plugin-transform-parameters",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-react-jsx",
    "@babel/plugin-transform-modules-amd"
  ],
  "presets": ["@babel/preset-env"],
  "env": {
    "production": {
      "plugins": ["transform-remove-console"]
    }
  }
}
