[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
passlib = "*"
alembic = "==1.7.7"
click = "==8.0.4"
Flask = "==2.0.3"
psycopg2-binary = "==2.9.3"
chardet = "==4.0.0"
SQLAlchemy = "==1.4.46"
PyYAML = "*"
WTForms = "*"
celery = "==5.2.7"
requests = "==2.31.0"
pyOpenSSL = "*"
python-dateutil = "==2.8.2"
requirements-parser = "==0.5.0"
importlib-metadata = "==4.13.0"
cryptography = "==41.0.3"
werkzeug = "==3.0.4"
certifi = "==2023.7.22"
argcomplete = "==1.12.3"
attrs = "==20.3.0"
boto3 = "==1.34.25"
tqdm = "==4.61.1"
importlib_resources = "*"
importlib_metadata = "*"
jinja2 = "==3.0.1"
lock = "*"

[dev-packages]
cryptography = "==41.0.3"

[requires]
python_version = "3.8"
