passlib
#pysqlite
alembic
click
flask
psycopg2
chardet
sqlalchemy
pyyaml
wtforms
#we still use Celery 3 as 4 causes some problems...
celery
six
requests
pyopenssl
python-dateutil
requirements-parser
# added by marcinguy
werkzeug
