.CodeMirror-errorWidget{
    background:#faa;
    border:#f77 2px solid;
    padding:4px;
    margin:0;
}

.CodeMirror{
    position:relative;
}

.code-example:hover,
.code-example:active {
    .editor-switch {
        opacity: 1;
    }
}

.code-example {
    .nav>li>a {
        padding: 0px 10px;
    }
}

.editor-switch {
    position: absolute;
    top: 9px;
    right: 15px;
    z-index: 1000;
    opacity: 1;
}

.editor-switch.nav li a{
    padding:4px !important;
}

.save-notice {
    position:absolute;
    right:20px;
    top:20px;
    z-index:1020;
}

textarea.markdown-editor{
    font-family: Consolas, Courier New, Courier;
    font-size:16px;
}
