
.pl {
  border: 1px solid get-color(grayscale, mid-light);
  @include border-bottom-radius(2px);
  background-color: get-color(white);

  	ul {
  		margin: 0;
  		padding: 0;

  		li {
  			list-style-type: none;
  		}
  	}

	& >.head {
  		height: 50px;
  	 	border-bottom: 1px solid get-color(grayscale, mid-light);
  	 	padding: 13px 15px;

  	 	h1, h2, h3, h3 {
  	 		padding: 0;
  	 		margin: 0;
  	 		font-size: 22px;
  	 		display: inline-block;
  	 	}

  	 	i {
  	 		margin-right: 10px;
  	 		font-size: 17px;
  	 		color: get-color(grayscale, mid-dark);
  	 	}
	  }

	.element {
		border-bottom: 1px solid get-color(grayscale, mid-light);
		clear: both;

		&:last-child {
			border-bottom: none;
		}

		&:nth-child(even) {
			background-color: get-color(lightgrey, light);
		}
	}

	.box {
		&-link {
			width: 100%;
			padding: 19px 15px;
			display: block;
			color: inherit;
			-webkit-transition: background-color ease-in-out .1s,color ease-in-out .1s;
			-o-transition: background-color ease-in-out .1s,color ease-in-out .1s;
			transition: background-color ease-in-out .1s,color ease-in-out .1s;

			&:hover {
				background-color: get-color(grayscale, light);
				color: inherit;
				text-decoration: inherit;
				-webkit-transition: background-color ease-in-out .1s,color ease-in-out .1s;
				-o-transition: background-color ease-in-out .1s,color ease-in-out .1s;
				transition: background-color ease-in-out .1s,color ease-in-out .1s;
			}
		}
	}

	.head {
		h2 {
			margin: 0 0 5px 0;
			font-size: 22px;
			letter-spacing: 0.4px;
			font-weight: bold;

			@media(max-width: 768px) {
			    padding-right: 50px;
			}
		}
	}

	.settings {
		width: 30px;
		height: 30px;
		display: inline-block;
		margin-top: -5px;
		color: get-color(grayscale, dark);
		position: relative;
		z-index: 10;
		top: 22px;
		right: 15px;
		-webkit-transition:color ease-in-out .15s;
		-o-transition: color ease-in-out .15s;
		transition: color ease-in-out .15s;
		cursor: pointer;

		span {
			font-size: 22px;
		}
	}

	.fav {
		width: 30px;
		height: 30px;
		display: inline-block;
		margin-top: -5px;
		color: get-color(grayscale, base);
		position: relative;
		z-index: 10;
		top: 22px;
		right: 15px;
		-webkit-transition:color ease-in-out .15s;
		-o-transition: color ease-in-out .15s;
		transition: color ease-in-out .15s;

		&-set {
			width: 30px;
			height: 30px;
			display: inline-block;
			margin-top: -5px;
			color: get-color(grayscale, dark);
			position: relative;
			z-index: 10;
			top: 22px;
			right: 15px;
			-webkit-transition:color ease-in-out .15s;
			-o-transition: color ease-in-out .15s;
			transition: color ease-in-out .15s;
			cursor: pointer;

			a {
				display: block;
				width: 100%;
				height: 100%;
				color: get-color(grayscale, mid-dark);

				&:hover {
					color: get-color(qc, blue);
				}
			}

			.added {
				color: get-color(qc, blue);
			}

			i {
				font-size: 32px;
				&.remove {
					font-size: 24px;
				}
			}
		}

		&:hover {
			color: get-color(grayscale, dark);
			-webkit-transition: color ease-in-out .15s;
			-o-transition: color ease-in-out .15s;
			transition: color ease-in-out .15s;
		}

		span {
			font-size: 32px;
		}
	}

	.meta {
		margin-bottom: 12px;
		padding-left: 0;

		li {
			display: inline;
			margin-right: 20px;
			font-size: 12px;
			color: get-color(grayscale, base);
			letter-spacing: 0.2px;

			&:last-child {
				margin-right: 0;
			}

			.contributors:before,
			.members:before {
				margin-right: 5px;
				font-size: 12px;
				font-family: octicons;
				content: '\f037';
				color: get-color(grayscale, base);
			}

			.stargazers:before {
				margin-right: 5px;
				font-size: 12px;
				font-family: octicons;
				content: '\f02a';
				color: get-color(grayscale, base);
			}
		}
	}

	.description {
		margin-bottom: 10px;
		padding: 0;
		font-size: 15px;
		letter-spacing: 0.2px;
		color: get-color(grayscale, mid-dark);
	}

	.issues {
		margin: 0;
		padding: 0;

		li {
			display: inline;
			margin-right: 18px;
			font-size: 12px;
			letter-spacing: 0.1px;
		}
	}

	.analysis-timestamp {
		font-size: 12px;
		letter-spacing: 0.4px;
		color: get-color(grayscale, base);

        @media(max-width: 768px) {
            text-align: left;
            font-size: 14px;
        }
	}

}
