{% extends "layouts/base.html" %}

{%block viewport %}
<meta name="viewport" content="width=device-width, initial-scale=1">
{%endblock%}

{%block title%}Scanner{%endblock%}

{%block body_tag %}
<body id="app">
<div id="body-wrapper">
{%endblock%}

{%block body_end_tag %}
</div>
</body>
{%endblock%}

{%block menu_right %}
{%endblock%}

{%block container %}

<section>
    <div class="container space-top-40">
        <h2 style="text-align:center"><i class="fa fa-circle-o-notch fa-spin" style="font-size:36px;"></i></h2>
        <h3 style="text-align:center">Please wait, loading Scanner ...</h3>
    </div>
</section>

{%endblock%}

{%block footer_links %}
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-left">
  Scanmycode 2018-2022 &copy; All rights reserved
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-right">
  </div>
</div>
{%endblock%}
{%block footer_text %}{%endblock%}

{%block js %}
  {% with scripts=[] %}
    {% include '_static_js.html' %}
  {% endwith %}
  <script async src="{{static_url}}/js/boot.js"></script>
{%endblock%}
