.markdown{
    min-height:60px;
    font-size:16px;
    margin-bottom:10px;
    margin-top:4px;

    pre {
        font-size: 1em;
        margin: 10px 0 10px 0;
        padding: 9.5px;
        background: #F5F2F0; //to be in sync with the Prism.js theme
    }
}

