.no-padding {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.margin-padding {
  margin-left: 15px;
  margin-right: 15px;
}

/* Loading animation container */
.loading {
    // Visual formatting
    position: fixed;
    top: 50%;
    left: 50%;
    
    // Box model
    width: 200px;
    height: 200px;
    margin: -100px 0 0 -100px;

  p {
      // Box model
      margin-top:10px;

      // Typography + color
      text-align:center;
      color: get-color(grey, dark);
  }
  
  i {
    // Typography + color
    font-size:120px;
    color: get-color(grey, mid-dark);
  }
}

.trend-up:after {
  margin-left: 5px;
  color: get-color(red, dark);
  font-family: 'FontAwesome';
  content: '\f062';
}

.trend-down:after {
  margin-left: 5px;
  color: get-color(green, dark);
  font-family: 'FontAwesome';
  content: '\f063';
}

.trend-unchanged:after {
  margin-left: 5px;
  color: get-color(grayscale, mid-dark);
  font-family: 'FontAwesome';
  content: '\f061';
}

.no-trend:after {
  margin-left: 5px;
  color: get-color(grayscale, mid-dark);
  font-family: 'FontAwesome';
  content: "\f068";
}

//UX

.fixed {
    position: fixed;
    z-index: 1080;

    .tb-inputs {
    }

    &.sidebar {

    }
}